@{
    ViewBag.Title = "Update Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int? result = (int?)TempData["result"];
}

@if (result == 1)
{
    <p>데이터가 입력되었습니다.</p>
    <img src="~/images/success.png" width="500" height="500">
}
else
{
    <p>데이터 입력에 실패하셨습니다.</p>
    <img src="~/images/fail.png" width="500" height="500">
}